{{~##
  Image Article Template - Expose Theme

  Renders a gallery article with:
  - Thumbnail (responsive srcset with WebP support)
  - EXIF overlay (on hover)
  - Lightbox (on focus/click)

  Expects: image (ImageData object)
  ImageData: { id, url, width, height, title?, post?, exif?, sizes }

  Context:
  - image_basepath: path/URL to image folder (can be absolute CDN URL)
  - image_formats: global list of image formats ["webp", "jpg"]
##~}}
{{~ # Skip rendering if no sizes available ~}}
{{~ if !image.sizes || image.sizes.size == 0 ~}}
  {{~ ret ~}}
{{~ end ~}}
{{~ # Limit thumbnail sizes to small/medium (320, 640, 1024) ~}}
{{~ thumbnail_sizes = image.sizes | array.limit 3 ~}}
<article tabindex="0" id="{{ image.id }}" style="--width:{{ image.width }}; --height:{{ image.height }};">
  {{~ # Thumbnail with responsive srcset and format selection ~}}
  <picture>
    {{~ for format in image_formats ~}}
    <source
      type="image/{{ format }}"
      srcset="{{~ for size in thumbnail_sizes ~}}{{ image_basepath }}{{ image.url }}/{{ size }}.{{ format }} {{ size }}w{{~ if !for.last ~}},
              {{~ end ~}}{{~ end ~}}">
    {{~ end ~}}
    <img
      alt="{{ image.title ?? '' }}"
      loading="lazy"
      decoding="async"
      src="{{ image_basepath }}{{ image.url }}/{{ image.sizes | array.first }}.jpg"
      width="{{ image.width }}"
      height="{{ image.height }}">
  </picture>

  {{~ # EXIF overlay on hover ~}}
  <aside>
    {{~ if image.exif ~}}
    <p>
      {{~ image.exif.f_number ? "f/" + image.exif.f_number + " " : "" ~}}
      {{~ image.exif.exposure_time ? format_exif_exposure(image.exif.exposure_time) + " " : "" ~}}
      {{~ image.exif.iso ? "ISO " + image.exif.iso + " " : "" ~}}
      {{~ image.exif.focal_length ? image.exif.focal_length + "mm" : "" ~}}
    </p>
    <p>
      {{~ image.exif.lens_model ?? "" ~}}
      {{~ image.exif.model ? " on " + image.exif.model : "" ~}}
    </p>
    {{~ end ~}}
  </aside>

  {{~ # Lightbox on focus/click - use largest available size ~}}
  {{~ largest_size = image.sizes | array.last ~}}
  <figure>
    <a tabindex="-1" title="close">close</a>
    <picture>
      {{~ for format in image_formats ~}}
      <source
        type="image/{{ format }}"
        srcset="{{ image_basepath }}{{ image.url }}/{{ largest_size }}.{{ format }}">
      {{~ end ~}}
      <img
        alt="{{ image.title ?? '' }}"
        loading="lazy"
        decoding="async"
        src="{{ image_basepath }}{{ image.url }}/{{ largest_size }}.jpg"
        width="{{ image.width }}"
        height="{{ image.height }}">
    </picture>
  </figure>
</article>
