{{~##
  Minimal Image Template

  Simple image with title.
  Expects: image (ImageData)
  Context: image_basepath (path/URL to image folder)
##~}}
<article class="image">
  <a href="{{ image_basepath }}{{ image.url }}/{{ image.width }}.jpg">
    <img
      src="{{ image_basepath }}{{ image.url }}/640.jpg"
      alt="{{ image.title ?? '' }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      loading="lazy">
  </a>
  {{~ if image.title ~}}
  <h3>{{ image.title }}</h3>
  {{~ end ~}}
</article>
