{{~##
  Minimal Navigation Template

  Type detection based on properties:
  - Column: !url && children.size > 0 (Section header without link)
  - Branch: children.size > 0 (Has children, may have link)
  - Leaf: children.size == 0 (Simple link)

  Expects: nav_items (Array of NavigationItem)
  NavigationItem: { text, url?, active?, children }
##~}}
{{~ func render_item(item) ~}}
{{~ if !item.url && item.children.size > 0 ~}}
{{~ # Column: Section without link ~}}
<div class="nav-group">
  <strong>{{ item.text }}</strong>
  <ul>
  {{~ for child in item.children ~}}
    <li>{{ render_item child }}</li>
  {{~ end ~}}
  </ul>
</div>
{{~ else if item.children.size > 0 ~}}
{{~ # Branch: Has children (may have link) ~}}
<div class="nav-branch">
  {{~ if item.url ~}}
  <a href="{{ basepath }}{{ item.url }}"{{ item.active ? ' class="active"' : '' }}>{{ item.text }}</a>
  {{~ else ~}}
  <span>{{ item.text }}</span>
  {{~ end ~}}
  <ul>
  {{~ for child in item.children ~}}
    <li>{{ render_item child }}</li>
  {{~ end ~}}
  </ul>
</div>
{{~ else ~}}
{{~ # Leaf: Simple link ~}}
<a href="{{ basepath }}{{ item.url }}"{{ item.active ? ' class="active"' : '' }}>{{ item.text }}</a>
{{~ end ~}}
{{~ end ~}}

{{~ for item in nav_items ~}}
{{ render_item item }}
{{~ end ~}}
