{{~##
  EXIF Line Partial - Expose Theme

  Displays camera settings in a single line.
  Used in image.html for both thumbnail overlay and lightbox.

  Expects: exif (ExifData object)
  ExifData: { f_number?, exposure_time?, iso?, focal_length?, lens_model?, model? }
##~}}
{{~ if exif ~}}
<p>
  {{~ exif.f_number ? "f/" + exif.f_number + " " : "" ~}}
  {{~ exif.exposure_time ? exif.exposure_time + "s " : "" ~}}
  {{~ exif.iso ? "ISO " + exif.iso + " " : "" ~}}
  {{~ exif.focal_length ? exif.focal_length + "mm" : "" ~}}
</p>
<p>
  {{~ exif.lens_model ?? "" ~}}
  {{~ exif.model ? " on " + exif.model : "" ~}}
</p>
{{~ end ~}}
