{{~##
  Image Article Template - Expose Theme

  Renders a gallery article with:
  - Thumbnail (responsive srcset with WebP support)
  - EXIF overlay (on hover)
  - Lightbox (on focus/click)

  Expects: image (ImageData object)
  ImageData: { id, url, width, height, title?, post?, exif?, available_sizes?, available_formats? }

  Context: image_basepath (path/URL to image folder, can be absolute CDN URL)
##~}}
{{~ # Default sizes and formats if not available ~}}
{{~ sizes = image.available_sizes ~}}
{{~ if !sizes || sizes.size == 0 ~}}
  {{~ sizes = [640, 1024, 1280, 1920] ~}}
{{~ end ~}}
{{~ formats = image.available_formats ~}}
{{~ if !formats || formats.size == 0 ~}}
  {{~ formats = ["webp", "jpg"] ~}}
{{~ end ~}}
{{~ thumb_size = sizes[0] ~}}
{{~ full_size = sizes[sizes.size - 1] ~}}
<article tabindex="0" id="{{ image.id }}" style="--width:{{ image.width }}; --height:{{ image.height }};">
  {{~ # Thumbnail with responsive srcset and format selection ~}}
  <picture>
    {{~ for format in formats ~}}
    {{~ if format != "jpg" ~}}
    <source
      type="image/{{ format }}"
      srcset="{{~ for size in sizes ~}}{{ image_basepath }}{{ image.url }}/{{ size }}.{{ format }} {{ size }}w{{~ if !for.last ~}},
              {{~ end ~}}{{~ end ~}}">
    {{~ end ~}}
    {{~ end ~}}
    <img
      alt="{{ image.title ?? '' }}"
      loading="lazy"
      decoding="async"
      src="{{ image_basepath }}{{ image.url }}/{{ thumb_size }}.jpg"
      srcset="{{~ for size in sizes ~}}{{ image_basepath }}{{ image.url }}/{{ size }}.jpg {{ size }}w{{~ if !for.last ~}},
              {{~ end ~}}{{~ end ~}}"
      width="{{ image.width }}"
      height="{{ image.height }}">
  </picture>

  {{~ # EXIF overlay on hover ~}}
  <aside>
    {{~ if image.exif ~}}
    <p>
      {{~ image.exif.f_number ? "f/" + image.exif.f_number + " " : "" ~}}
      {{~ image.exif.exposure_time ? format_exif_exposure(image.exif.exposure_time) + " " : "" ~}}
      {{~ image.exif.iso ? "ISO " + image.exif.iso + " " : "" ~}}
      {{~ image.exif.focal_length ? image.exif.focal_length + "mm" : "" ~}}
    </p>
    <p>
      {{~ image.exif.lens_model ?? "" ~}}
      {{~ image.exif.model ? " on " + image.exif.model : "" ~}}
    </p>
    {{~ end ~}}
  </aside>

  {{~ # Lightbox on focus/click ~}}
  <figure>
    <a tabindex="-1" title="close">close</a>
    <picture>
      {{~ for format in formats ~}}
      {{~ if format != "jpg" ~}}
      <source
        type="image/{{ format }}"
        srcset="{{~ for size in sizes ~}}{{ image_basepath }}{{ image.url }}/{{ size }}.{{ format }} {{ size }}w{{~ if !for.last ~}},
                {{~ end ~}}{{~ end ~}}">
      {{~ end ~}}
      {{~ end ~}}
      <img
        loading="lazy"
        decoding="async"
        src="{{ image_basepath }}{{ image.url }}/{{ full_size }}.jpg"
        srcset="{{~ for size in sizes ~}}{{ image_basepath }}{{ image.url }}/{{ size }}.jpg {{ size }}w{{~ if !for.last ~}},
                {{~ end ~}}{{~ end ~}}"
        width="{{ image.width }}"
        height="{{ image.height }}">
    </picture>
    <figcaption>
      {{~ if image.post ~}}
      <div class="post-content">
        {{ image.post }}
      </div>
      {{~ end ~}}
      {{~ include 'partials/exif' image.exif ~}}
    </figcaption>
  </figure>
</article>
