{{~##
  Image Article Template - Expose Theme

  Renders a gallery article with:
  - Thumbnail (responsive srcset)
  - EXIF overlay (on hover)
  - Lightbox (on focus/click)

  Expects: image (ImageData object)
  ImageData: { id, url, width, height, title?, post?, exif? }

  Context: image_basepath (path/URL to image folder, can be absolute CDN URL)
##~}}
<article tabindex="0" id="{{ image.id }}" style="--width:{{ image.width }}; --height:{{ image.height }};">
  {{~ # Thumbnail with responsive srcset ~}}
  <picture>
    <img
      alt="{{ image.title ?? '' }}"
      loading="lazy"
      decoding="async"
      src="{{ image_basepath }}{{ image.url }}/640.jpg"
      srcset="{{ image_basepath }}{{ image.url }}/320.jpg 320w,
              {{ image_basepath }}{{ image.url }}/640.jpg 640w"
      width="{{ image.width }}"
      height="{{ image.height }}">
  </picture>

  {{~ # EXIF overlay on hover ~}}
  <aside>
    {{~ include 'partials/exif' image.exif ~}}
  </aside>

  {{~ # Lightbox on focus/click ~}}
  <figure>
    <a tabindex="-1" title="close">close</a>
    <picture>
      <img
        loading="lazy"
        decoding="async"
        src="{{ image_basepath }}{{ image.url }}/{{ image.width }}.jpg"
        srcset="{{ image_basepath }}{{ image.url }}/320.jpg 320w,
                {{ image_basepath }}{{ image.url }}/640.jpg 640w,
                {{ image_basepath }}{{ image.url }}/1024.jpg 1024w,
                {{ image_basepath }}{{ image.url }}/1280.jpg 1280w,
                {{ image_basepath }}{{ image.url }}/1920.jpg 1920w,
                {{ image_basepath }}{{ image.url }}/2560.jpg 2560w"
        width="{{ image.width }}"
        height="{{ image.height }}">
    </picture>
    <figcaption>
      {{~ if image.post ~}}
      <div class="post-content">
        {{ image.post }}
      </div>
      {{~ end ~}}
      {{~ include 'partials/exif' image.exif ~}}
    </figcaption>
  </figure>
</article>
